{{#if (has-block)}}
  {{yield this.message (action "close")}}
{{else}}
  <a href {{action "close"}} class="close" role="button">&times;</a>
  {{!-- template-lint-disable no-triple-curlies --}}
  <span class="message">{{this.message.text}}{{{this.message.html}}}</span>
{{/if}}
