<form class="row">
  <div class="column">
    <fieldset>
      <legend>ember-notify demo</legend>
      <div class="message">
        <label>Message</label>
        <Input @value={{this.model.text}} name="message"/>
      </div>
      <div class="level">
        <button {{on "click" (fn this.info this.model)}} type="button">info</button>
        <button {{on "click" (fn this.success this.model)}} type="button">success</button>
        <button {{on "click" (fn this.warning this.model)}} type="button">warning</button>
        <button {{on "click" (fn this.alert this.model)}} type="button">alert</button>
      </div>
      <div class="settings">
        <div class="close-after">
          <label>Close after (empty to disable)</label>
          <Input @value={{this.model.closeAfter}} name="closeAfter" />
        </div>
        <div class="type">
          <label>
            <Input @type="checkbox" name="html" @checked="model.html" {{on "click" this.toggleHtml}} />
            Escape HTML
          </label>
        </div>
      </div>
    </fieldset>
  </div>
</form>
